In [61]:
import numpy as np
import pandas as pd

In [62]:
data = pd.read_csv("xi.csv")

In [63]:
data.head()

                        xi
0         Yesterday I went
1         Today, I plan to
2  The last time I saw her
3     I have never been so
4       When I was a child

In [64]:
data.describe()

                                  xi
count                           1021
unique                          1021
top     I aspire to be remembered as
freq                               1

In [65]:
data.nunique()

xi    1021
dtype: int64

In [66]:
import openai
from dotenv import load_dotenv

In [67]:
import os
openai.api_key = os.getenv('OPENAI_API_KEY')

openai.api_key = ""

In [68]:
# Model name
MODEL = "davinci-002"

# Function to generate completion for each xi
def generate_completion(xi):
    try:
        # Call OpenAI API to get the completion
        completion = openai.completions.create(
            model=MODEL,
            prompt=xi,  # User input (xi)
            max_tokens=20,  # You can set this to control the length of the generated text
            temperature=1,  # Control the randomness (creativity) of the output
            n=1,  # Number of completions to generate
            stop=None  # You can provide stop sequences if needed
        )
        # Extract the generated text (xj)
        xj = completion.choices[0].text.strip()  # Access the completion text
        return xj
    except Exception as e:
        # Handle potential errors
        print(f"Error generating completion for: {xi}")
        print(e)
        return None

In [69]:
print(generate_completion("I enjoy spending time"))

and experiencing life with friends and the people I care about. My interests include surfing, snow skiing,

In [70]:
data['xj'] = data['xi'].apply(generate_completion)

In [71]:
data

,xi,xj
0,Yesterday I went,"on a run, a massage therapist really shifted m..."
1,"Today, I plan to",spend a well deserved rest day after running a...
2,The last time I saw her,", she was already a little girl, but already h..."
3,I have never been so,attracted to a positive review before in my li...
4,When I was a child,", I used to wonder what happened to stories th..."
...,...,...
1016,One of the best memories I have is,related to the CD Secondary School organised b...
1017,My definition of success is,simple; to be able to look at all I have built...
1018,One thing I hope to accomplish is,to reset the summer of 2016 bar in mind. The b...
1019,My most treasured possession is,"my soul, my thoughts, ALL I AM - all 3 of you ..."
1020,I aspire to be remembered as,"the best ever!""\n\nAnd he also thanked his fia..."

In [72]:
data['LLM'] = "davinci"

In [74]:
x4 = pd.read_csv("xi_4.csv")

In [75]:
x4.nunique()

xi    200
dtype: int64

In [76]:
x4['xj'] = x4['xi'].apply(generate_completion)

In [77]:
x4['LLM'] = "davinci"

In [78]:
x4.head()

,xi,xj,LLM
0,"At the office, I filed",through my coffee-stained Rolodex for __ wonâ€™t...,davinci
1,"On the bus, we exchanged looks","and giggles. Out of nowhere, I looked the othe...",davinci
2,"During the exam, he hesitated",", â€œI know you look just like Jones. Why did yo...",davinci
3,"In the park, they picnicked",and swam and soaked up the sunâ€“just like we ar...,davinci
4,"On the highway, she accelerated",up to 90km/h. Her SUV packed with all of her b...,davinci

In [79]:
stacked_df = pd.concat([data, x4], ignore_index=True)

# Export the combined DataFrame to a CSV file
output_csv = 'stacked_output_vinci.csv'  # Change this to your desired file path
stacked_df.to_csv(output_csv, index=False)

print(f"DataFrame stacked and saved to: {output_csv}")

DataFrame stacked and saved to: stacked_output_vinci.csv

In [81]:
d4=pd.read_csv("stacked_output_vinci.csv")

In [82]:
d4.head()

,xi,xj,LLM
0,Yesterday I went,"on a run, a massage therapist really shifted m...",davinci
1,"Today, I plan to",spend a well deserved rest day after running a...,davinci
2,The last time I saw her,", she was already a little girl, but already h...",davinci
3,I have never been so,attracted to a positive review before in my li...,davinci
4,When I was a child,", I used to wonder what happened to stories th...",davinci

In [83]:
d4.nunique()

xi     1221
xj     1220
LLM       1
dtype: int64

In [84]:
d4.describe()

,xi,xj,LLM
count,1221,1220,1221
unique,1221,1220,1
top,"At the pool, we swam laps",and listened to music. I donâ€™t feel a solid de...,davinci
freq,1,1,1221

In [85]:
d4

,xi,xj,LLM
0,Yesterday I went,"on a run, a massage therapist really shifted m...",davinci
1,"Today, I plan to",spend a well deserved rest day after running a...,davinci
2,The last time I saw her,", she was already a little girl, but already h...",davinci
3,I have never been so,attracted to a positive review before in my li...,davinci
4,When I was a child,", I used to wonder what happened to stories th...",davinci
...,...,...,...
1216,"On the dock, we watched the waves",and the laughter and the fun that all the word...,davinci
1217,"During the show, they performed stunts",and showcased their skills so that people can ...,davinci
1218,"In the cafe, he wrote in his notebook",": ""Keep calm and try not to land in prison.""\n...",davinci
1219,"On the train, I listened to music",", sang along animatedly at the top of my lungs...",davinci
1220,"At the pool, we swam laps",and listened to music. I donâ€™t feel a solid de...,davinci