In [1]:
import numpy as np
import pandas as pd

In [2]:
data = pd.read_csv("xi.csv")

In [3]:
data.head()

                        xi
0         Yesterday I went
1         Today, I plan to
2  The last time I saw her
3     I have never been so
4       When I was a child

In [4]:
data.describe()

                                  xi
count                           1021
unique                          1021
top     I aspire to be remembered as
freq                               1

In [5]:
data.nunique()

xi    1021
dtype: int64

In [6]:
from groq import Groq

In [7]:
GROQ_API_KEY=""

In [8]:
client = Groq(api_key=GROQ_API_KEY)
# Model name
MODEL = "gemma2-9b-it"

# Function to generate completion for each xi
def generate_completion(xi):
    try:
        # Call OpenAI API to get the completion
        chat_completion = client.chat.completions.create(
            model=MODEL,
            messages=[
                {"role": "system", "content": "You are a helpful assistant, please complete the following sentence. Only give me the completed part. Do not give me input sentence as well"},  # System message to set the context
                {"role": "user", "content": xi}  # User input (xi)
            ]
        )
        # Extract the generated text (xj)
        xj =  chat_completion.choices[0].message.content
        xj=xj.strip()
        return xj
    except Exception as e:
        # Handle potential errors
        print(f"Error generating completion for: {xi}")
        print(e)
        return None

In [9]:
print(generate_completion("I enjoy spending time"))

with my family and friends.

In [10]:
data['xj'] = data['xi'].apply(generate_completion)

In [11]:
data

,xi,xj
0,Yesterday I went,to the store.
1,"Today, I plan to",bake a cake and read a book.
2,The last time I saw her,she was wearing a red dress.
3,I have never been so,happy.
4,When I was a child,I loved to build forts out of blankets and pil...
...,...,...
1016,One of the best memories I have is,of the time I went camping with my family.
1017,My definition of success is,achieving a state of fulfillment and contentme...
1018,One thing I hope to accomplish is,to learn and grow as a person.
1019,My most treasured possession is,"a worn, leather-bound copy of my grandmother's..."
1020,I aspire to be remembered as,a force for good in the world.

In [12]:
data['LLM'] = "gemma2-9b"

In [13]:
x3 = pd.read_csv("xi_3.csv")

In [14]:
x3.nunique()

xi    200
dtype: int64

In [15]:
x3['xj'] = x3['xi'].apply(generate_completion)

In [16]:
x3['LLM'] = "gemma2-9b"

In [17]:
stacked_df = pd.concat([data, x3], ignore_index=True)

# Export the combined DataFrame to a CSV file
output_csv = 'stacked_output.csv'  # Change this to your desired file path
stacked_df.to_csv(output_csv, index=False)

print(f"DataFrame stacked and saved to: {output_csv}")

DataFrame stacked and saved to: stacked_output.csv

In [18]:
d3=pd.read_csv("stacked_output.csv")

In [19]:
d3.head()

,xi,xj,LLM
0,Yesterday I went,to the store.,gemma2-9b
1,"Today, I plan to",bake a cake and read a book.,gemma2-9b
2,The last time I saw her,she was wearing a red dress.,gemma2-9b
3,I have never been so,happy.,gemma2-9b
4,When I was a child,I loved to build forts out of blankets and pil...,gemma2-9b

In [20]:
d3.nunique()

xi     1221
xj     1124
LLM       1
dtype: int64

In [21]:
d3.describe()

                                           xi               xj        LLM
count                                    1221             1221       1221
unique                                   1221             1124          1
top     At the campground, they pitched tents  helping others.  gemma2-9b
freq                                        1                9       1221