In [30]:
import numpy as np
import pandas as pd

In [31]:
data = pd.read_csv("xi.csv")

In [32]:
data.head()

                        xi
0         Yesterday I went
1         Today, I plan to
2  The last time I saw her
3     I have never been so
4       When I was a child

In [33]:
data.describe()

                                  xi
count                           1021
unique                          1021
top     I aspire to be remembered as
freq                               1

In [34]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1021 entries, 0 to 1020
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   xi      1021 non-null   object
dtypes: object(1)
memory usage: 8.1+ KB

In [35]:
data.nunique()

xi    1021
dtype: int64

In [36]:
data

                                      xi
0                       Yesterday I went
1                       Today, I plan to
2                The last time I saw her
3                   I have never been so
4                     When I was a child
...                                  ...
1016  One of the best memories I have is
1017         My definition of success is
1018   One thing I hope to accomplish is
1019     My most treasured possession is
1020        I aspire to be remembered as

[1021 rows x 1 columns]

In [38]:
import openai
from dotenv import load_dotenv

In [39]:
import os
openai.api_key = os.getenv('OPENAI_API_KEY')

openai.api_key = ""

In [40]:
# Model name
MODEL = "gpt-4o-mini"

# Function to generate completion for each xi
def generate_completion(xi):
    try:
        # Call OpenAI API to get the completion
        completion = openai.chat.completions.create(
            model=MODEL,
            messages=[
                {"role": "system", "content": "You are a helpful assistant, please complete the following sentence. Only give me the completed part. Do not give me input sentence as well"},  # System message to set the context
                {"role": "user", "content": xi}  # User input (xi)
            ]
        )
        # Extract the generated text (xj)
        xj =  completion.choices[0].message.content
        xj=xj.strip()
        return xj
    except Exception as e:
        # Handle potential errors
        print(f"Error generating completion for: {xi}")
        print(e)
        return None

In [41]:
print(generate_completion("I enjoy spending time"))

with my friends and family, exploring new places, and trying out different cuisines.

In [42]:
data['xj'] = data['xi'].apply(generate_completion)

In [43]:
data

,xi,xj
0,Yesterday I went,to the park to enjoy the beautiful weather.
1,"Today, I plan to",organize my workspace and catch up on some rea...
2,The last time I saw her,"she was walking down the street, smiling and w..."
3,I have never been so,excited about a new opportunity.
4,When I was a child,I spent countless hours exploring the woods be...
...,...,...
1016,One of the best memories I have is,"the day I graduated from college, surrounded b..."
1017,My definition of success is,achieving personal goals while maintaining bal...
1018,One thing I hope to accomplish is,to make a positive impact in my community by p...
1019,My most treasured possession is,"a photograph of my grandmother, taken during h..."
1020,I aspire to be remembered as,someone who brought positivity and inspiration...

In [44]:
data.head()

                        xi                                                 xj
0         Yesterday I went        to the park to enjoy the beautiful weather.
1         Today, I plan to  organize my workspace and catch up on some rea...
2  The last time I saw her  she was walking down the street, smiling and w...
3     I have never been so                   excited about a new opportunity.
4       When I was a child  I spent countless hours exploring the woods be...

In [45]:
data['LLM'] = "GPT4o-mini"

In [46]:
data.head()

,xi,xj,LLM
0,Yesterday I went,to the park to enjoy the beautiful weather.,GPT4o-mini
1,"Today, I plan to",organize my workspace and catch up on some rea...,GPT4o-mini
2,The last time I saw her,"she was walking down the street, smiling and w...",GPT4o-mini
3,I have never been so,excited about a new opportunity.,GPT4o-mini
4,When I was a child,I spent countless hours exploring the woods be...,GPT4o-mini

In [47]:
x1 = pd.read_csv("xi_1.csv")

In [48]:
x1.head()

                                             xi
0                In the forest, we saw wildlife
1                  On the bus, he spoke quietly
2  During the lesson, she corrected the mistake
3          At the event, they handed out flyers
4          On the mountain, we built a campfire

In [49]:
x1.nunique()

xi    200
dtype: int64

In [50]:
x1['xj'] = x1['xi'].apply(generate_completion)

In [51]:
x1.head()

,xi,xj
0,"In the forest, we saw wildlife","such as deer, birds, and rabbits playing in th..."
1,"On the bus, he spoke quietly","to the person sitting next to him, sharing tho..."
2,"During the lesson, she corrected the mistake",and provided an explanation to ensure the stud...
3,"At the event, they handed out flyers",that provided information about upcoming works...
4,"On the mountain, we built a campfire","and sat around it, sharing stories and enjoyin..."

In [52]:
x1['LLM'] = "GPT4o-mini"

In [53]:
x1

,xi,xj,LLM
0,"In the forest, we saw wildlife","such as deer, birds, and rabbits playing in th...",GPT4o-mini
1,"On the bus, he spoke quietly","to the person sitting next to him, sharing tho...",GPT4o-mini
2,"During the lesson, she corrected the mistake",and provided an explanation to ensure the stud...,GPT4o-mini
3,"At the event, they handed out flyers",that provided information about upcoming works...,GPT4o-mini
4,"On the mountain, we built a campfire","and sat around it, sharing stories and enjoyin...",GPT4o-mini
...,...,...,...
195,"On the patio, I sipped my coffee",while enjoying the warm morning sun and watchi...,GPT4o-mini
196,"In the woods, we saw a deer",grazing peacefully near a sparkling stream.,GPT4o-mini
197,"During the run, I felt energized",and determined to push through the last few mi...,GPT4o-mini
198,"At the event, they handed out awards",to recognize outstanding achievements in vario...,GPT4o-mini
199,"On the boat, we sailed into the sunset",", the sky ablaze with hues of orange and pink,...",GPT4o-mini

In [54]:
stacked_df = pd.concat([data, x1], ignore_index=True)

# Export the combined DataFrame to a CSV file
output_csv = 'stacked_output.csv'  # Change this to your desired file path
stacked_df.to_csv(output_csv, index=False)

print(f"DataFrame stacked and saved to: {output_csv}")

DataFrame stacked and saved to: stacked_output.csv

In [55]:
d1=pd.read_csv("stacked_output.csv")

In [56]:
d1.head()

,xi,xj,LLM
0,Yesterday I went,to the park to enjoy the beautiful weather.,GPT4o-mini
1,"Today, I plan to",organize my workspace and catch up on some rea...,GPT4o-mini
2,The last time I saw her,"she was walking down the street, smiling and w...",GPT4o-mini
3,I have never been so,excited about a new opportunity.,GPT4o-mini
4,When I was a child,I spent countless hours exploring the woods be...,GPT4o-mini

In [57]:
d1.nunique()

xi     1221
xj     1201
LLM       1
dtype: int64

In [58]:
d1.describe()

,xi,xj,LLM
count,1221,1221,1221
unique,1221,1201,1
top,"On the boat, we sailed into the sunset",curling up with a good book and a warm cup of ...,GPT4o-mini
freq,1,5,1221