In [24]:
import numpy as np
import pandas as pd

In [25]:
data = pd.read_csv("xi.csv")

In [26]:
data.head()

                        xi
0         Yesterday I went
1         Today, I plan to
2  The last time I saw her
3     I have never been so
4       When I was a child

In [27]:
data.describe()

                                  xi
count                           1021
unique                          1021
top     I aspire to be remembered as
freq                               1

In [28]:
from groq import Groq

In [29]:
GROQ_API_KEY=""

In [30]:
client = Groq(api_key=GROQ_API_KEY)
# Model name
MODEL = "llama-3.1-8b-instant"

# Function to generate completion for each xi
def generate_completion(xi):
    try:
        # Call OpenAI API to get the completion
        chat_completion = client.chat.completions.create(
            model=MODEL,
            messages=[
                {"role": "system", "content": "You are a helpful assistant, please complete the following sentence. Only give me the completed part. Do not give me input sentence as well"},  # System message to set the context
                {"role": "user", "content": xi}  # User input (xi)
            ]
        )
        # Extract the generated text (xj)
        xj =  chat_completion.choices[0].message.content
        xj=xj.strip() # type: ignore
        return xj
    except Exception as e:
        # Handle potential errors
        print(f"Error generating completion for: {xi}")
        print(e)
        return None

In [31]:
print(generate_completion("I enjoy spending time"))

with family and friends, whether that's going on hikes, trying new restaurants, or just having a cozy night in.

In [32]:
data['xj'] = data['xi'].apply(generate_completion)

In [33]:
data

,xi,xj
0,Yesterday I went,to the local park for a walk with my friends.
1,"Today, I plan to",head out to the park with my family for a picn...
2,The last time I saw her,"was almost two years ago, at my grandma's birt..."
3,I have never been so,utterly fascinated by the world's rich history...
4,When I was a child,my grandparents would often take me on long wa...
...,...,...
1016,One of the best memories I have is,from a family vacation to Hawaii when I was 10...
1017,My definition of success is,"having the freedom to pursue my passions, achi..."
1018,One thing I hope to accomplish is,to become a successful photographer by traveli...
1019,My most treasured possession is,a handmade locket passed down to me by my gran...
1020,I aspire to be remembered as,a person who made a positive impact on the wor...

In [34]:
data['LLM'] = "llama3.1-8b"

In [35]:
x2 = pd.read_csv("xi_2.csv")

In [36]:
x2.nunique()

xi    200
dtype: int64

In [37]:
x2['xj'] = x2['xi'].apply(generate_completion)

In [38]:
x2['LLM'] = "llama3.1-8b"

In [39]:
stacked_df = pd.concat([data, x2], ignore_index=True)

# Export the combined DataFrame to a CSV file
output_csv = 'stacked_output.csv'  # Change this to your desired file path
stacked_df.to_csv(output_csv, index=False)

print(f"DataFrame stacked and saved to: {output_csv}")

DataFrame stacked and saved to: stacked_output.csv

In [40]:
d2=pd.read_csv("stacked_output.csv")

In [41]:
d2.head()

,xi,xj,LLM
0,Yesterday I went,to the local park for a walk with my friends.,llama3.1-8b
1,"Today, I plan to",head out to the park with my family for a picn...,llama3.1-8b
2,The last time I saw her,"was almost two years ago, at my grandma's birt...",llama3.1-8b
3,I have never been so,utterly fascinated by the world's rich history...,llama3.1-8b
4,When I was a child,my grandparents would often take me on long wa...,llama3.1-8b

In [42]:
d2.nunique()

xi     1221
xj     1220
LLM       1
dtype: int64

In [43]:
d2.describe()

,xi,xj,LLM
count,1221,1221,1221
unique,1221,1220,1
top,"In the kitchen, I chopped",a clear and achievable goal that aligns with m...,llama3.1-8b
freq,1,2,1221