In [1]:
import numpy as np
import pandas as pd

In [2]:
data = pd.read_csv("xi.csv")

In [3]:
data.head()

                        xi
0         Yesterday I went
1         Today, I plan to
2  The last time I saw her
3     I have never been so
4       When I was a child

In [4]:
data.describe()

                                  xi
count                           1021
unique                          1021
top     I aspire to be remembered as
freq                               1

In [5]:
from groq import Groq

In [6]:
GROQ_API_KEY=""

In [7]:
client = Groq(api_key=GROQ_API_KEY)
# Model name
MODEL = "mixtral-8x7b-32768"

# Function to generate completion for each xi
def generate_completion(xi):
    try:
        # Call OpenAI API to get the completion
        chat_completion = client.chat.completions.create(
            model=MODEL,
            messages=[
                {"role": "system", "content": "You are a helpful assistant, please complete the following sentence. Only give me the completed part. Do not give me input sentence as well"},  # System message to set the context
                {"role": "user", "content": xi}  # User input (xi)
            ]
        )
        # Extract the generated text (xj)
        xj =  chat_completion.choices[0].message.content
        xj=xj.strip() # type: ignore
        return xj
    except Exception as e:
        # Handle potential errors
        print(f"Error generating completion for: {xi}")
        print(e)
        return None

In [8]:
print(generate_completion("I enjoy spending time"))

with my family and friends, engaging in various activities such as board games, movie nights, or outdoor adventures. It's a great way to strengthen our bonds and create lasting memories.

In [9]:
data['xj'] = data['xi'].apply(generate_completion)

In [10]:
data

,xi,xj
0,Yesterday I went,to the park and had a picnic with some friends...
1,"Today, I plan to",exercise for an hour in the morning and read a...
2,The last time I saw her,was at the park last weekend.
3,I have never been so,exhausted before in my life.
4,When I was a child,", I spent hours playing outside and using my i..."
...,...,...
1016,One of the best memories I have is,spending a summer vacation at the beach with m...
1017,My definition of success is,achieving your goals and making a positive imp...
1018,One thing I hope to accomplish is,traveling to new places and experiencing diffe...
1019,My most treasured possession is,my grandmother's locket. It has sentimental va...
1020,I aspire to be remembered as,a kind and compassionate individual who made a...

In [11]:
data['LLM'] = "mixtral"

In [12]:
x4 = pd.read_csv("xi_4.csv")

In [13]:
x4.nunique()

xi    200
dtype: int64

In [14]:
x4['xj'] = x4['xi'].apply(generate_completion)

In [15]:
x4['LLM'] = "mixtral"

In [16]:
stacked_df = pd.concat([data, x4], ignore_index=True)

# Export the combined DataFrame to a CSV file
output_csv = 'stacked_output.csv'  # Change this to your desired file path
stacked_df.to_csv(output_csv, index=False)

print(f"DataFrame stacked and saved to: {output_csv}")

DataFrame stacked and saved to: stacked_output.csv

In [17]:
d5=pd.read_csv("stacked_output.csv")

In [18]:
d5.head()

,xi,xj,LLM
0,Yesterday I went,to the park and had a picnic with some friends...,mixtral
1,"Today, I plan to",exercise for an hour in the morning and read a...,mixtral
2,The last time I saw her,was at the park last weekend.,mixtral
3,I have never been so,exhausted before in my life.,mixtral
4,When I was a child,", I spent hours playing outside and using my i...",mixtral

In [19]:
d5.nunique()

xi     1221
xj     1191
LLM       1
dtype: int64

In [20]:
d5.describe()

                               xi                              xj      LLM
count                        1221                            1221     1221
unique                       1221                            1191        1
top     At the pool, we swam laps  the mysteries of the universe.  mixtral
freq                            1                               3     1221

In [21]:
d5.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1221 entries, 0 to 1220
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   xi      1221 non-null   object
 1   xj      1221 non-null   object
 2   LLM     1221 non-null   object
dtypes: object(3)
memory usage: 28.7+ KB